<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tárgy</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../../CSS/fonts/all.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/global.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="../../Javascript/Student/registercourse.js"></script>
    <script src="../../Javascript/sessioncheck.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b2ccdf;">
        <a class="navbar-brand" href="Home.html"><img class="logo" src="../../CSS/images/logo2.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="Home.html">Kezdőlap</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="RegisterCourse.html">Tárgyfelvétel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Messages.html">Üzenetek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="LogOut()">Kijelentkezés</a>
                </li>
            </ul>
        </div>
    </nav>
    <h2>Tárgyfelvétel</h2>
    <br>
    <div id="courses-container">

    </div>

    <!-- Modalcourseinfo -->
    <div id="courseinfo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header courseinfo-modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;</button>

                </div>
                <div class="modal-body courseinfo-modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>