<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tárgy</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../../CSS/global.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/createcourse.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="../../Javascript/sessioncheck.js"></script>
    <script src="../../Javascript/Professor/createcourse.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b2ccdf;">
        <a class="navbar-brand" href="Home.html"><img class="logo" src="../../CSS/images/logo2.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="Home.html">Kezdőlap</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="CreateCourse.html">Tárgy létrehozás</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Üzenetek</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <u>
                    <h3>Tárgy adatok</h3>
                </u>
                <div class="form-group">
                    <label>Tárgykód</label>
                    <input type="text" id="lecturecode" class="form-control form-data-item" placeholder="Tárgykód*">
                </div>
                <div class="form-group">
                    <label>Tárgy neve</label>
                    <input type="text" id="lecturename" class="form-control form-data-item" placeholder="Tárgy neve*">
                </div>
                <div class="form-group">
                    <label>Leírás a tárgyról</label>
                    <textarea id="lecturedescr" class="form-control form-data-item" placeholder="Leírás*"></textarea>
                </div>
            </div>
            <div id="course-formdata" class="col-md-6">
                <u>
                    <h3>Követelmények</h3>
                </u>

                <div id="ATTENDANCE_LECTURE" class="form-group">
                    <input type="checkbox" name="requirementtype_attendance_lecture" />
                    <label>Előadás</label>
                    <div id="showlecture">
                        <label>Összes óraszám</label>
                        <input class="form-control form-data-item max_requirement"
                            name="maxrequirement_attendance_lecture" type="text" placeholder="Összes óraszám*" /></br>
                        <label>Minimum kötelező</label>
                        <input class="form-control form-data-item min_requirement"
                            name="minrequirement_attendance_lecture" type="text" placeholder="Minimum kötelező*" />
                    </div>
                </div>

                <div id="ATTENDANCE_PRACTICE" class="form-group">
                    <input type="checkbox" name="requirementtype_attendance_practice" />
                    <label>Gyakorlat</label>
                    <div id="showpractice">
                        <label>Összes óraszám</label>
                        <input class="form-control form-data-item max_requirement"
                            name="maxrequirement_attendance_practice" type="text" placeholder="Összes óraszám*" /></br>
                        <label>Minimum kötelező</label>
                        <input class="form-control form-data-item min_requirement"
                            name="minrequirement_attendance_practice" type="text" placeholder="Minimum kötelező*" />
                    </div>
                </div>

                <div id="FIRST_ZH" class="form-group">
                    <input type="checkbox" name="requirementtype_first_zh" />
                    <label>I. ZH</label>
                    <div id="showfirstzh">
                        <label>I. ZH max pontszám</label>
                        <input class="form-control form-data-item max_requirement" name="maxrequirement_first_zh"
                            type="text" placeholder="Max pontszám*" /></br>
                        <label>I. ZH minimum pontszám</label>
                        <input class="form-control form-data-item min_requirement" name="minrequirement_first_zh"
                            type="text" placeholder="Minimum pontszám*" />
                    </div>
                </div>

                <div id="SECOND_ZH" class="form-group">
                    <input type="checkbox" name="requirementtype_second_zh" />
                    <label>II. ZH</label>
                    <div id="showsecondzh">
                        <label>II. ZH max pontszám</label>
                        <input class="form-control form-data-item max_requirement" name="maxrequirement_second_zh"
                            type="text" placeholder="Max pontszám*" /></br>
                        <label>II. ZH minimum pontszám</label>
                        <input class="form-control form-data-item min_requirement" name="minrequirement_second_zh"
                            type="text" placeholder="Minimum pontszám*" />
                    </div>
                </div>

                <div id="HOMEWORK" class="form-group">
                    <input class="form-data-item" type="checkbox" name="requirementtype_homework" />
                    <label>Félévközi feladat</label>

                </div>
                <input type="submit" class="btnSubmit" value="Létrehozás" onclick="CreateCourse()" />



            </div>
        </div>

    </div>
    <!-- Modal -->
    <div id="SuccesUpload" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;</button>

                </div>
                <div class="modal-body">
                    Kurzus sikeresen rögzítve!
                </div>

            </div>
        </div>
    </div>
</body>

</html>